---
layout: base
---

<h2>The entire tasks data will be updated after the completion of the contest.</h2>
{% for repo in site.data.repositories %}
  <div class="card-body">
    <h2 class="card-title"><a href="{{repo.link}}">{{repo.name}} </a> ({{ repo.tasks.size }})</h2>
    <hr/>
    <ul>
    {% for task in repo.tasks %}
      <li>{{ task.name }}</li>
      Pull request: <a href="{{task.pr}}">#{{task.pr}}</a> 
      <p> Mentors: {% for mentor in task.mentors %} {{mentor}} {% endfor %}</p> 
      {% if task.thoughts %}
      <p> {{task.thoughts}} </p>
      {% endif %}
      <hr/>
    {% endfor %}
  </div>
 
 {% endfor %}
